<!DOCTYPE html>
<html lang="en">
<head>
	{#		<meta charset="UTF-8" http-equiv="refresh" content="2">#}
	<title>Title</title>
	<link type="text/css" rel="stylesheet" href="/css/apidocs.css"/>
</head>
<body>
<div class="page_body">
	<div class="header">
		<ul>
			<li onclick="window.location.href='/'"><a href="/">Home</a></li>
			<li onclick="window.location.href='/history'"><a href="/history">History</a></li>
			<li onclick="window.location.href='/getnotified'"><a href="/getnotified">Get Notified</a></li>
			<li onclick="window.location.href='/apidocs'" class="active"><a href="/apidocs">API Docs</a></li>
			<li onclick="window.location.href='/about'"><a href="/about">About</a></li>
		</ul>
	</div>

	<div class="bones_result">
		<p>Unfortunately, the NoodlesBones public api has not been released yet
			but should be available in the next few weeks.</p>
	</div>

	<div class="footer">
		<div class="column">
			More Noodle:
			<ul>
				<li><a href="https://www.tiktok.com/@jongraz?">TikTok @jongraz</a></li>
				<li><a href="https://noodleofficial.threadless.com/">Noodles Merch</a></li>
				<li><a href="https://www.instagram.com/showmenoodz/">Noodles Instagram @showmenoodz</a></li>
				<li><a href="https://www.instagram.com/jongraz/">Noodles Owners Instagram @jongraz</a></li>
			</ul>
		</div>
		<div class="column">
			Matthew (Website Creator):
			<ul>
				<li><a href="https://github.com/mattl1598">Github @mattl1598</a></li>
				<li><a href="https://www.tiktok.com/@0xA455?">TikTok @0xA455</a></li>
				<li><a href="https://www.twitter.com/0xA455/">Twitter @0xA455</a></li>
			</ul>
		</div>
	</div>
</div>
</body>
</html>